*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
}

header{
    height:150px;
    
}

header .freeshiping{
    height:40px;
    background-color:#50C878;
    padding:10px;
}

header .freeshiping p{
    width:100%;
    text-align:center;
    font-size:18px;
}

.flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



header .container{
    padding:30px;
}

.shopnow{
    width:120px;
    height:40px;
    padding:10px;
    background-color: #ffffff;
    border-radius:20px;
    border:2px solid #000000;
}
.shopnow p{
    text-align:center;
}
.shopnow:hover{
    background-color:#50C878;
}

header h1{
    width:300px;
    height:50px;
    background-image:url(/img/Logo.PNG);
    background-size:cover;
    background-repeat:no-repeat;
    text-indent:-99999px;

}
header h1 a{
    width:300px;
    height:50px;
    display:block;
}

.navcontainer{
    width:400px;
}

header ul{
    width:300px;
    
}

header ul a{
    padding:5px 10px;
    color:#000000;
}



.user-icon,.cart-icon{
    font-size:20px;
}

.user-icon a:visited{
    color:#000000;
}

.user-icon,.cart-icon:hover, .shopnow:hover,.item:hover, .chatbox:hover,.circle-icon:hover, .sendbutton:hover,.signin:hover, .createaccount:hover,.resetpassword:hover, .resetpasswordsubmit:hover,.closeresetpassword:hover{
    cursor:pointer;
   
}

.item{
    width:220px;
    overflow:hidden;
}
.owl-theme .owl-nav{
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.owl-theme .owl-nav[class*=owl-]{
    font-size:50px;
    color:#50C878;
    /* საბოლოოდ რა ფერსაც აარჩევ ის ჩასვი */
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background:rgb(0, 0, 0,0);
    color:#50C878;
    /* აქაც რა ფერსაც აარჩევ ის ჩასვი */
}

.social{
    width:50px;
    height:100px;
    top: 300px;
    right:0px;
    position: fixed;
    z-index: 1;
    
}
.social .facebook, .social .instagram{
    width: 100%;
    height:50%;
   
}

.social .facebook a, .social .instagram a{
    display:block;
    width:50px;
    height:50px;
}

.facebook{
    background-image:url(/img/facebook.png);
    background-repeat:no-repeat;
    background-size:100%;
}

.instagram{
    background-image:url(/img/instagram.png);
    background-repeat:no-repeat;
    background-size:100%;
}

.chatbox{
    width:120px;
    height:60px;
    border-radius:10px;
    background-color:#50C878;
    position:fixed;
    right:20px;
    bottom:20px;
    padding:20px;
    
}

.question-icon,.chatbox p{
    width:100%;
    text-align:center;
    font-size:18px;
    color: #ffffff;
}

.chatboxform{
    width:350px;
    height:550px;
    position:fixed;
    right:20px;
    bottom:20px;
    border-radius:10px;
    background-color:#cac3c3;
    z-index:1;
    display:none;
                                   
}      

.chatboxheader{
    width:100%;
   height:50px;
    background-color:#50C878;
    border-radius:5px;
}
.chatboxheader p, .circle-icon{
    font-size:20px;
    color: #ffffff;
    margin:10px;
}

.chatboxmain{
    padding:10px;
}
.chatboxmain p{
    margin-bottom:10px;
    font-size:18px;
   
}


.chatboxmain input, .chatboxmain textarea{
    padding:15px;
    margin-bottom:10px;
    width:100%;
    border-radius:5px;
    outline:none;
    resize:none;
   
}



.sendbutton{
    width:70px;
    height:40px;
    background-color: #50C878;
    border-radius:10px;
    margin:10px;
    padding:10px;
}

.sendbutton p{
    width:100%;
    text-align:center;
}

.login{
    width:300px;
    height:100px;
    margin:40px auto;

}

.SignIn{
    width:100%;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    margin-bottom:50px;
}

.login input, .signupcontainer input {
    width:100%;
    padding:14px;
    margin-bottom:20px;
    border-radius:20px;
    outline:none;
}

.signin, .createaccount{
    width:100%;
    height:50px;
    padding:10px;
    text-align:center;
    background-color:#50C878;
    font-size:20px;
    border-radius:20px;

}

.signin:hover, .createaccount:hover, .resetpasswordsubmit:hover{
    background-color: #1c8640;
}

.resetpassword{
    text-decoration:underline;
}

.resetpasswordcontainer{
   width:500px;
    height:300px;
    border-radius:10px;
    background-color: #FFFDFA;
    border:2px solid #000000;
    position:fixed;
    top:150px;
    left:400px;
    padding:10px;
    display:none;
    
}
.resetoasswordtext{
    height:30%;
    border-bottom:1px solid #ddd8d8;
    margin-bottom:20px;
}
.resetoasswordtext :nth-child(1){
    width:100%;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin-bottom:5px;
}
.resetoasswordtext :nth-child(2){
    width:100%;
    text-align:center;
    font-size:16px;
}

.signup, .resetpassword, .signinback{
    width:100%;
    text-align:center;
    margin-top:20px;
    font-size:18px;
    
}

.resetpasswordsubmit{
    width:100%;
    height:50px;
    padding:10px;
    border-radius:20px;
    text-align:center;
    background-color: #50C878;
    font-size:20px;
}

.closeresetpassword{
    width:100%;
    text-align:center;
    margin-top:30px;
    font-size:18px;
}

.signupcontainer{
    width:400px;
    height:500px;
    margin:30px auto;

}

.CreateAccount{
    width:100%;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    margin-bottom:10px;
}

.answer{
    width:100%;
    text-align:center;
    margin-bottom:10px;
    font-size:18px;
}

.signinback a, .signup a{
    text-decoration:underline;
}