*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
}

header .freeshipingcontainer{
    height:40px;
    background-color:#50C878;
    padding:10px;
}
header .freeshiping{
    color:#FFFDFA;
    font-weight:bold;
    text-transform:capitalize;
}

header .freeshipingcontainer p{
    width:100%;
    text-align:center;
    font-size:18px;
}


.burger-icon, .close-icon{
    position:relative;
    top:20px;
    left:30px;
    font-size:28px;
    display:none;
}

.burgermenu{
    width:120px;
    height:220px;
    padding:10px;
    position:relative;
    top:30px;
    left:20px;
    display:flex;
    flex-direction:column;  
    display:none;  
}
.burgermenu p{
    width:100%;
    text-transform:capitalize;
    margin-top:10px;
   border-bottom:2px solid #50C878;

}

.flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



header .container{
    padding:30px;
}

.shopnow{
    width:120px;
    height:40px;
    padding:10px;
    background-color: #ffffff;
    border-radius:20px;
    border:2px solid #000000;
}
.shopnow p{
    text-align:center;
    text-transform:capitalize;
}
.shopnow:hover{
    background-color:#50C878;
}

header h1{
    width:300px;
    height:50px;
    background-image:url(/img/Logo.PNG) ;
    background-size:cover;
    background-repeat:no-repeat;
    text-indent:-99999px;

}
header h1 a{
    width:300px;
    height:50px;
    display:block;
}

.navcontainer{
    width:400px;
}

header ul{
    width:300px;
    text-transform:capitalize;
}

.headericoncontainer{
    width:100px;
}

header ul a:hover{
    color:#50C878;
}

header ul a,.shopnow p a{
    padding:5px 10px;
    color:#000000;
}



.user-icon,.cart-icon, .bag-icon{
    font-size:20px;
}


.user-icon a:visited{
    color:#000000;
}

.user-icon,.cart-icon:hover, .bag-icon:hover, .shopnow:hover,.item:hover, .chatbox:hover,.circle-icon:hover, .sendbutton:hover,.signin:hover, .createaccount:hover,.resetpassword:hover, .resetpasswordsubmit:hover,.closeresetpassword:hover, article:hover{
    cursor:pointer;
   
}


.item{
    width:100%;
    overflow:hidden;
    border-radius:20px;
}

.owl-theme .owl-nav{
    position:absolute;
    top:40%;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
.owl-theme .owl-nav[class*=owl-]{
    font-size:50px;
    color:#50C878;
    
}

.owl-theme .owl-nav [class*=owl-]:hover{
    background:rgb(0, 0, 0,0);
    color:#50C878;
 
}

.articlecontainer{
    width:100%;
    flex-wrap:wrap;
}

article{
    margin:10px;
 
}
section{
    overflow:hidden;
    position:relative;
    width:400px;
    height:450px;
    border-radius:20px;
}

section img{
   width:100%;
   

}
article p{
    width:100%;
    margin-top:10px;
    text-align:left;
    }
article :nth-child(3){
    font-weight:bold;
}
.hearticoncontainer{
    width:30px;
    height:30px;
    position:absolute;
    bottom:10px;
    right:10px;
    background-image:url(../img/heart.png);
    background-size:100%;
    background-repeat: no-repeat;
}
.bagiconcontainer{
    width:30px;
    height:30px;
    position:absolute;
    bottom:10px;
    left:10px;
    background-image:url(../img/bag.png);
    background-size:100%;
    background-repeat: no-repeat;
   
}

.sizecontainer{
    background-color: #abedbc;
    border-radius:20px;
    padding:10px;
    width:150px;
    height:40px;
    position:absolute;
    bottom:10px;
    left:30%;
    text-align:center;
    display:none;
}

 section:hover .sizecontainer {
    display:block;
 }

.hearticoncontainer:hover{
    background-image:url(../img/heartonhover.png);
    
}

.bagiconcontainer:hover{
    background-image:url(../img/bagonhover.png);
}
.signuptoournewslettercontainer{
    width:100%;
    height:220px;
    padding:30px;
    background-color:#6de193;
}

.signuptoournewslettertext{
    width:50%;
    height:50%;
    margin:10px auto;
    
}
.signuptoournewslettertext :nth-child(1){
    width:100%;
    text-align:center;
    font-size:28px;
    margin-bottom:10px;

}
.signuptoournewslettertext :nth-child(2){
    width:100%;
    text-align:center;

}

.signuptoournewslettemailinput{
    width:30%;
    height:30%;
    margin:10px auto;
   
}


.signuptoournewslettemailinput input{
    width:100%;
    padding:14px;
    outline:none;
    border-radius:20px;
    border:2px solid #000000;
    margin-bottom:10px;
}


.sendemail{
    width:100%;
    text-align:center;
    font-size:20px;
}
.sendemail:hover{
    font-weight:bold;
    cursor:pointer;
    
}
.social{
    width:50px;
    height:100px;
    top: 300px;
    right:0px;
    position: fixed;
    z-index: 1;
    
}
.social .facebook, .social .instagram{
    width: 100%;
    height:50%;
   
}

.social .facebook a, .social .instagram a{
    display:block;
    width:50px;
    height:50px;
}

.facebook{
    background-image:url(/img/facebook.png);
    background-repeat:no-repeat;
    background-size:100%;
}

.instagram{
    background-image:url(/img/instagram.png);
    background-repeat:no-repeat;
    background-size:100%;
}

.chatbox{
    width:120px;
    height:60px;
    border-radius:10px;
    background-color:#50C878;
    position:fixed;
    z-index:2;
    right:20px;
    bottom:20px;
    padding:20px;
    
}
.chatbox:hover{
    width:122px;
    height:62px;
    box-shadow:0 0 10px;
}

.question-icon,.chatbox p{
    width:100%;
    text-align:center;
    font-size:18px;
    color: #ffffff;
}

.chatboxform{
    width:350px;
    height:550px;
    position:fixed;
    right:20px;
    bottom:20px;
    border-radius:10px;
    background-color:#50C878;
    z-index:2;
    display:none;
                                   
}      

.chatboxheader{
    width:100%;
   height:50px;
    background-color:#50C878;
    border-radius:5px;
}
.chatboxheader p, .circle-icon{
    font-size:20px;
    color: #ffffff;
    margin:10px;
}

.chatboxmain{
    padding:10px;
}
.chatboxmain p{
    margin-bottom:10px;
    font-size:18px;
   
}


.chatboxmain input, .chatboxmain textarea{
    padding:15px;
    margin-bottom:10px;
    width:100%;
    border-radius:5px;
    outline:none;
    resize:none;
   
}



.sendbutton{
    width:70px;
    height:40px;
    background-color:#90EE90;
    border-radius:10px;
    margin:10px;
    padding:10px;
}

.sendbutton p{
    width:100%;
    text-align:center;
}

.backtotop{
    width:50px;
    height:50px;
    padding:14px;
    border-radius:50%;
    background-color:#50C878;
    position:fixed;
    z-index:2;
    bottom:20px;
    left:20px;

 }
 .backtotop:hover{
    width:52px;
    height:52px;
    box-shadow:0 0 10px;
 }

 .upicon{
    width:100%;
    text-align:center;
    font-size:20px;
 }

 .backtotop p a, .burgermenu p a, .footercontainer p a{
    color:#000000;
 }
 footer{ 
    position:relative;
    bottom:0;
    width: 100%;
    padding:20px;
 }
.footercontainer{
    width:100%;
    height:200px;
    margin:10px auto;
}


.AwesomeT-Shirts{
    width:300px;
    height:100px;
}

.AwesomeT-Shirts img{
    width:100%;
}
.AwesomeT-Shirts p{
    width:100%;
    text-align:center;
    font-size:18px;
}
.shopcontainer, .learncontainer, .connectcontainer, .legalcontainer{
    width:150px;
    height:150px;
   

}
.shopcontainer h4, .learncontainer h4, .connectcontainer h4, .legalcontainer h4{
    width:100%;
    font-size:28px;
    font-family:bold;
    margin-bottom:10px;
}

.shopcontainer p, .learncontainer p, .connectcontainer p, .legalcontainer p{
    width:100%;
    font-size:18px;
    margin-top:10px;
}



/* აქ იწყება signin.html კოდები */
.login{
    width:300px;
    height:400px;
    margin:20px auto;

}

.SignIn{
    width:100%;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    margin-bottom:50px;
}

.login input, .signupcontainer input {
    width:100%;
    padding:14px;
    margin-bottom:20px;
    border-radius:20px;
    outline:none;
}

.signin, .createaccount{
    width:100%;
    height:50px;
    padding:10px;
    text-align:center;
    background-color:#50C878;
    font-size:20px;
    border-radius:20px;

}

.signin:hover, .createaccount:hover, .resetpasswordsubmit:hover{
    background-color: #1c8640;
}

.resetpassword{
    text-decoration:underline;
}

.resetpasswordcontainer{
   width:500px;
    height:300px;
    border-radius:10px;
    background-color: #FFFDFA;
    border:2px solid #000000;
    position:fixed;
    top:20%;
    left:40%;
    z-index:2;
    padding:10px;
    display:none;
    
}
.resetpasswordtext{
    height:30%;
    border-bottom:1px solid #ddd8d8;
    margin-bottom:20px;
}
.resetpasswordtext :nth-child(1){
    width:100%;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin-bottom:5px;
}
.resetpasswordtext :nth-child(2){
    width:100%;
    text-align:center;
    font-size:16px;
    margin-bottom:10px;
}

.signup, .resetpassword, .signinback{
    width:100%;
    text-align:center;
    margin-top:20px;
    font-size:18px;
    
}

.resetpasswordsubmit{
    width:100%;
    height:50px;
    padding:10px;
    border-radius:20px;
    text-align:center;
    background-color: #50C878;
    font-size:20px;
}

.closeresetpassword{
    width:100%;
    text-align:center;
    margin-top:30px;
    font-size:18px;
}
/* აქ იწყება signup.html კოდები */
.signupcontainer{
    width:400px;
    height:500px;
    margin:30px auto;

}

.CreateAccount{
    width:100%;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    margin-bottom:10px;
}

.answer{
    width:100%;
    text-align:center;
    margin-bottom:10px;
    font-size:18px;
}

.signinback a, .signup a{
    text-decoration:underline;
}

/* აქ იწყება vieewproduct.html კოდები */

.firsttshirtcontainer{
    width:60%;
    align-content:flex-start;
    margin:20px;
    
}
.firsttshirtphotocontainer{
    width:400px;
    height:600px;
    overflow:hidden;
}

.firsttshirtphotocontainer img{
    width:100%;
    border-radius:10px;
}

.firsttshirttextcontainer{
    width:400px;
    height:600px;
    margin:20px;
    
   
}

.brokenheart{
    font-size:30px;
    font-weight:bold;
}
.price{
    font-size:24px;
    font-weight:bold;
    color:#1c8640;
}

.firsttshirttextcontainer p{
    margin-top:10px;
    
}
.sizes, .quantity{
    display:block;
    font-weight:bold;
    font-size:18px;
    margin:8px 0 8px 0;
    
}

select,.quantityform input{
    border-radius:10px;
    width:80px;
    height:40px;
    border:1px solid #000000;
}

.addcontainer{
    width:300px;
    height:100px;
    align-content:flex-start;
}

.addtocart, .addtowishlist{
    width:50%;
    height:50%;
    border-radius:10px;
    background-color: #6de193;
    margin-right:10px;
    padding:10px;
    
}
.addtocart p, .addtowishlist p{
    width:100%;
    text-align:center;
    font-size:16px;
    color:#FFFDFA;
    }

    .weoffer{
        font-size:20px;
        font-weight:bold;
    }

    .productdetails{
        width:100%;
        text-align:center;
        font-size:20px;
        font-weight:bold;
        text-decoration:underline;
        text-decoration-color:#6de193;
        margin-bottom:10px;
    }
.productdetailscontainer{
    margin:20px auto;
    width:40%;
    align-content:flex-start;
  
}

    .productdetailsname p, .productdetailsanswer p{
        margin-top:10px;
        
    }
    .productdetailsname p{
        font-weight:bold;
        
    }

   
    @media only screen and (max-width:768px) {
        header .container{
            padding:10px;
        }
    .shopnow {
height:30px;
padding:4px;
    }
 header ul{
    width:100%;
 }
 header ul a{
    padding:8px;
 }
 .articlecontainer{
    flex-direction:column;
 }
 section{
    width:700px;
    height:800px;
 }
 .sizecontainer{
    left:40%;
 }
.signuptoournewslettemailinput{
    width:50%;
    height:50%;
}
 .AwesomeT-Shirts{
    display:none;
 }
 .firsttshirtcontainer{
    width:100%;
 }
    }
 
   
   
    @media only screen and (max-width:412px) {
        .shopnow,.navcontainer
        {
            display:none;
        }
        .logocontainer{
           
    margin:30px auto;
        }
.burger-icon{
    display:block;
}
.item{
    width:100%;
}
.owl-theme .owl-nav{
    top:300px;
}
.articlecontainer{
    flex-direction:column;
 }
article{
    padding:30px;
}
 section{
    width:350px;
    height:400px;
 }
 .sizecontainer{
    left:30%;
 }
 .signuptoournewslettercontainer{
    padding:10px;
 }
 .signuptoournewslettemailinput{
    width:70%;
    height:70%;
}
.footercontainer{
    flex-direction:column;
}
.footercontainer div{
    margin-bottom:20px;
}
.firsttshirtcontainer{
    flex-direction:column;
    margin:0px auto;
}
.productdetailscontainer{
    width:50%;
}

    }